html,
body {
	margin: 0;
	padding: 0;
}
th{
	font-weight: normal;
}
/* Header */
header{
	background: #000;
}
.main-color{
	color: #50e3c2 !important;
}
.logo{
	width: 232px;
	height: 80px;
	background: url(../images/kickmybet-logo.png) no-repeat;
	float: left;
	background-position: 0 21px;
	margin-left: 15px;
}
.acc-info{
	display: inline-block;
	float: right;
	color: #fff;
	float: left;
	margin: 0;
	padding: 18px 10px;
	font-size: 16px;
}
.header-line{
	position: absolute;
	top: 73px;
}
.line{
	border-bottom: 2px solid #50e3c2;
	height: 8px;
	float: left;
}
.circle{
	height: 16px;
	width: 16px;
	border: 2px solid #50e3c2;
	border-radius: 50%;
	position: relative;
	float: left;
}
.side-line{
	width: 227px;
	border-bottom: 2px solid #50e3c2;
	height: 10px;
	float: left;
}
.title-line{
	position: absolute;
	left: 15px;
	margin-top: -27px;
}
/* Vertical lines */
.v-lines,
.vr-lines{
	position: relative;
	height: 40px;
	top: 41px;
	margin-top: -40px;
	border-left: 1px solid #50e3c2;
	border-right: 1px solid #50e3c2;
}
.vside-lines{
	padding: 0 50px;
}
.vside-adline{
	padding: 0 70px;
}
.vtcenter-line{
	padding: 0 100px;
}
.vcenter-lines{
	padding: 0 70px;
}
/* EOF Vertical lines */
.navbar-form{
	margin: 0 5px 0 0;
	padding: 0;
}
header form > div{
	padding: 0 2px;
}
.navbar-form input.form-control,
.singles-2 input.form-control{
	border: 1px solid #50e3c2;
	background: #000;
	color: white;
	height: 30px;
	margin: 2px 0;
}
.navbar-form input.form-control:focus,
.singles-2 input.form-control:focus,
.center-content input.form-control:focus{   
	border-color: rgba(80, 227, 194, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(80, 227, 194, 0.6);;
	outline: 0 none;
}
form ul li{
	padding: 0 10px;
}
.login  {
	display: inline-block;
	margin: 0;
	padding: 27.5px 0;
}
.login li{
	display: inline-block;
}
.login li a{
	color: #fff;
	cursor: pointer;
	text-decoration: none;
	font-size: 18px;
}
/****** LOGIN MODAL ******/
.modal-dialog{
	position: absolute;
	width: 350px;
	margin: auto;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) !important;
}
.loginmodal-container {
	padding: 30px;
	background-color: #F7F7F7;
	margin: 0 auto;
	border-radius: 10px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}
.loginmodal-container input[type=text], input[type=password] {
	height: 35px;
	font-size: 16px;
	width: 100%;
	margin-bottom: 10px;
	-webkit-appearance: none;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	/* border-radius: 2px; */
	padding: 0 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.loginmodal {
	text-align: center;
	font-size: 14px;
	font-family: 'Arial', sans-serif;
	font-weight: 700;
	height: 36px;
	padding: 0 8px;
	/* border-radius: 3px; */
/* -webkit-user-select: none;
user-select: none; */
}
.loginmodal-container a {
	text-decoration: none;
	color: #666;
	font-weight: 400;
	text-align: center;
	display: inline-block;
	opacity: 0.6;
	transition: opacity ease 0.5s;
} 
.login-help{
	font-size: 12px;
}
.modal h3{
	font-size: 20px;
	margin: 5px 0;
	line-height: 1.6;
	text-align: center;
}
.modal .btn-group{
	margin: 20px 0;
}
.modal-button{
	width: 47%;
	float: left;
	padding: 7px 0;
	border: none;
}
.close-modal{
	position: absolute;
	right: 3px;
}
/* EOF Header */
.main-content{
	background: url(../images/kickmybet-bkg.jpg) no-repeat;
	background-size: cover;
	background-position: 100% 0;
	padding: 40px 0;
	margin-top: -1px;
}
.main-content h2{
	font-size: 18px;
}
/* Left side info */
.side-info{
	padding: 0 20px 20px 20px;
	background: rgba(0,0,0,0.75);
	border: 1px solid #50e3c2;
	border-radius: 20px;
}
.side-info table{
	margin-bottom: 0;
}
.now-playing tbody tr td:last-child:not(.cup-name){
	color: #50e3c2;
}
.side-title{
	padding-bottom: 20px;
	color: #fff;
	text-align: center;
	position: relative;
}
.center-title{
	font-weight: bold;
}
.center-title,
.center-table{
	color: #fff;
}
.side-info h2{
	margin-top: 20px;
}
.side-info table tr td{
	border-top: none !important;
	padding: 2px !important;
	color: #fff;
	width: 100%;
}
.side-info table tr td p{
	display: inline;
	font-size: 10px;
}
.side-info .cup-name{
	font-size: 12px;
	color: #87690c;
	padding-top: 0px !important;
}
.playing-collapse,
.tournaments-collapse,
.teams-collapse{
	margin-left: 5px;
	cursor: pointer;
}
/* EOF Left side info */
/* Center Content */
.player{
	background: rgba(69, 69, 69, 0.75);
	height: 420px;
	border: 1px solid #50e3c2;
	border-radius: 30px;
}
.center-table{
	margin-top: 40px;
	padding: 15px 30px 15px 30px;
	border: 1px solid #50e3c2;
	border-radius: 30px;
	background: rgba(0,0,0,0.75);
}
.center-table table:last-child{
	margin-bottom: 0;
}
.center-table h2{
	font-size: 16px;
	margin: 10px 0 0 0;
	color: #50e3c2;
}
.center-table .table>thead>tr>th{
	border-color: #87690c;
}
.center-table tbody tr td:first-child{
	font-weight: bold;
}
.center-table tbody tr td:first-child div{
	font-weight: normal;
	line-height: 1.1;
}
.center-table .table>tbody>tr>td{
	padding: 5px;
	vertical-align: middle;
	border-bottom: 1px solid #676767;
	border-top: none;
}
.center-table .table>tbody>tr>td,
.center-table .table>thead>tr>th{
	text-align: center;
}
.center-table .table>tbody>tr>td:first-child,
.center-table .table>thead>tr>th:first-child{
	text-align: left;
}
/* EOF Center Content */
/* Calculating */
.calculating{
	background: rgba(0,0,0,0.75);
	padding: 0 15px 10px 15px;
	border: 1px solid #50e3c2;
	border-radius: 20px;
}
.calculating .nav-tabs{
	margin: 30px -15px 0 -15px;
}
.calculating .nav>li{
	width: 50%;
}
.calculating .nav-tabs>li>a{
	margin: 0;
	border-radius: 0;
	text-align: center;
	color: #fff;
}
.nav-tabs>li>a{
	border: none;
}
.calculating .nav-tabs>li>a,
.calculating .nav-tabs>li>a:hover{
	border: none;
}
.nav-tabs>li{
	color: #4a4a4a;
	border-top: 2px solid #50e3c2;
	border-bottom: 2px solid #50e3c2;
	font-weight: bold;
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover{
	color: #4a4a4a;
	background-color: #50e3c2;
}
.nav>li>a:focus, .nav>li>a:hover{
	background: none;
}
.tab-content{
	color: #fff;
}
.form-control{
	height: 30px;
}
.singles,
.singles-2{
	padding: 15px 0 10px 10px;
	border-bottom: 2px solid #87690c;
}
.singles p{
	margin: 0;
}
.singles-2 .form-inline .form-control{
	border-radius: 0;
	direction: rtl;
	width: 40%;
	float: right;
}
.calculating label{
	padding: 7px 0;
}
.tab-content button{
	border-radius: 0;
	background: #50e3c2;
	color: #4a4a4a;
	border: 2px solid rgba(74,74,74,0.5);
	font-weight: bold;
	width: 50%;
}
.calculating .btn-group{
	margin: 30px 0px;
	width: 100%;
}
.calculating .btn:hover{
	background: #009473;
	transition: .5s all;
}
/* EOF Calculating */
/* Admin pages */
.side-menu{
	background: rgba(0,0,0,0.75);
	border: 1px solid #50e3c2;
	border-radius: 20px;
}
.side-menu ul{
	color: #fff;
	list-style: none;
	margin: 0;
	padding: 10px 20px;
}
.side-menu ul li{
	padding: 10px 0;
	font-size: 16px;
	border-bottom: 1px solid #50e3c2;
	text-align: left;
}
.side-menu ul li:last-child{
	border-bottom: none;
}
.side-menu ul li a{
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	transition: all .5s;
}
.side-menu ul li a:hover{
	color: rgb(140, 140, 140);
}
.table thead tr th{
	vertical-align: middle;
}
.v-space{
	margin: 30px 0;
	border-bottom: 1px solid #50e3c2;
}
.marg-l{
	margin-left: 15px;
}
.check-pos{
	display: inline-block;
	vertical-align: middle;
	vertical-align: -webkit-baseline-middle;
}
.center-content .form-check input{
	min-width: auto;
	vertical-align: top;
}
.center-content{
	margin-top: 0;
    padding: 30px 30px 20px 30px;
	border: 1px solid #50e3c2;
	border-radius: 30px;
	background: rgba(0,0,0,0.75);
	color: #fff;
}
.center-content h2{
	color: rgb(255, 234, 168);
	margin: 0 0 10px 0;
	display: inline-block;
	width: 100%;
}
.center-content a{
	color: rgb(255, 234, 168);
}
.center-content a:focus,
.center-content a:hover{
	color: rgb(255, 241, 196);
}
.center-content input,
.center-content select{
	color: #fff;
	background: transparent;
	min-width: 100px;
}
.center-content .input-daterange{
	margin: 10px 0;
}
.center-content select option{
	background: #000;
}
.center-content > form > select.card-date{
	margin: 10px 5px;
}
.personal-info .form-inline,
.deposit-info .form-inline,
.deposit-info-2 .form-inline{
	margin: 15px 0;
}
.center-content .deposit-info-2 label{
	width: 120px;
}
.default-input{
	width: auto;
	float: none;
}
.one-input{
	margin-top: 10px;
}
.one-input input{
	margin-top: 10px;
}
form > label.date-text{
	width: 120px;
}
.center-content label{
	width: 180px;
}
.personal-info label,
.deposit-info label{
	vertical-align: top;
	vertical-align: -webkit-baseline-middle;
}
.min-price{
	display: inline-block;
	width: auto;
	vertical-align: top;
}
.min-price div{
	text-align: right;
	margin: 2px 0;
}
.center-content .btn{
	margin: 10px 0;
}
.info-balance{
	display: inherit;
}
.info-balance tbody tr td:first-child{
	width: 150px;
}
.center-content .form-inline .input-group{
	margin: 0 10px;
	color: #000;
}
.center-content .btn{
	width: 150px;
}
.center-content .paymental-remove{
	width: 200px;
	margin-left: 10px;
}
.center-content .table thead th{
	text-align: center;
	background: rgb(74, 74, 74);
}
/* EOF Admin pages */
@media all and (max-width: 992px) {
	.vr-lines{
		display: none;
	}
	.header-line{
		display: none;	
	}
	header{
		border-bottom: 2px solid #50e3c2;
	}
}
@media all and (min-width: 768px) and (max-width: 992px) {
	.side-line{
		width: 183px;
	}
	.form-inline .form-group{
		width: 100%;
	}
	header form > div{
		padding: 0 5px;
		width: 160px;
	}
}
@media all and (min-width: 992px) and (max-width: 1200px) {
	.side-line {
		width: 257px;
	}
}
@media all and (max-width: 768px) {
	.acc-info{
		float: right !important;
		padding: 10px 20px;
	}
	.login{
		float: right;
		padding: 0px 20px 10px 20px;
	}
	.title-line{
		display: none;
	}
	.v-lines{
		display: none;
	}
	.player,
	.calculating,
	.center-content{
		margin-top: 40px;
	}
	.logo{
		margin-left: 20px;
		height: 110px;
		background-position: 0 35px;
	}
	.navbar-form{
		margin-right: 20px;
		box-shadow: none;
	}
	.side-title{
		padding: 0;
	}
	.main-content {
		margin-top: -2px;
	}
	.form-inline .form-control {
		display: inline-block;
		width: auto;
		vertical-align: middle;
	}
}
@media all and (max-width: 1200px) {
	.bet-lines{
		display: none;
	}
	.main-content {
		background-position: 75% 0;
	}
	.calculating{
		margin-top: 30px;
	}
}
@media all and (min-width: 1200px) and (max-width: 1220px) {
	.side-line{
		width: 243px;
	}
}
@media all and (min-width: 992px) and (max-width: 1070px) {
	.side-line{
		width: 239px;
	}
	.container{
		width: 93%;
	}
}